html {
  font-size: 10px;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem goldenrod, 0 0 0 0.25rem sandybrown;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(to bottom right, #daa520, #f4a460);
  margin-bottom: 20px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
