@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To TrackStack!</h1>
    <p>TrackStack is a web app for tracking daily expenses. Users can add, edit, and delete entries. Visualizations help users understand where and when they spend most.The Big Picture is to help users take control of their spending habits.
</p>
</div>
